/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2016, 11:36:04 PM
    Author     : omsairam
*/


html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map2 { height: 90%; width:80%; margin-left: 20%; transition: margin-left .5s; }
.launch-pad{ width: 100%; height: 40px;}
.menu-button{
    position:absolute;
    top:5px;
    left: 5px;
    z-index: 500;
    
}
.circle {
    width: 50px;
    height: 50px;
    background: #c8e6a0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 14px 8px;
}

.menu-dashbord{
    width:20%;
    height: 100%;
    background: gray;
    position: absolute;
    transition: left .5s;
    z-index: 499;
    top:0;
    left: 0;
        

}

